<head>
    <meta charset="utf-8">        
    <meta name="description" content="Pagina Web Impresiones 3D Cordoba">
    <meta name="Keywords" content="HTML5, CSS3, Javascript, Angularjs">

    <link rel="icon" href="./Imagenes/">
    <title>Impresión 3D - SG</title>

    <link rel="Stylesheet" href="./Estilos/GeneralStyles.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse" style="position: fixed; left: 0 top: 0; width: 100%; right:0;" id="#Navigation1">
        <div class="container-fluid">
          <div class="navbar-header">
            <!--<li>Impresi&oacute;n SG-3D</li>-->

            <li><a href="Index.html"><span class="navegatorText">Inicio</span></a></li>
            <li><a href="QuienesSomos.html"><span class="navegatorText">¿Quienes Somos?</span></a></li>
            <li><a href="NuestrosProductos.html"><span class="navegatorText">Nuestros Productos</span></a></li>
            <li><a href="ImagenesPagina.html"><span class="navegatorText">Galeria de Im&aacute;genes</span></a></li>
            <li><a href="videoImpresion3D.html"><span class="navegatorText">Videos</span></a></li>
            <li><a href="Contacto.html"><span class="navegatorText">Contacto</span></a></li>
            <li><a href="Carrousel.html"><span class="navegatorText">Imagenes</span></a></li>


            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                
          </div>
          <ul class="nav navbar-nav">
            
              </ul>
            
          </ul>
        </div>
      </nav>

      <div style="padding-top: 10rem; float: left;">

            <p>
                <b>MISI&Oacute;N</b>

                <br>
                Nuestra misi&oacute; apunta a lograr mucho objetivos
            </p>

            <br>
            
      </div>

      <div style="padding-top: 10rem; float:right;">
        <img src="./Imagenes/Nosotros.jpg" alt="Imprimiendo en 3D" width="400px" height="500px" />
      </div>

</body>

</html>