@font-face {
    font-family: 'TitleFont';
    src: url('../Font/Ansagia\ Metta.ttf'); /* format('ttf');*/
    font-weight: normal;
    font-style: normal;    
}

/*Vamos a hacer un media query para que sea responsivo*/
@media only screen and (max-width: 767px) {
    #Navigation1 {
        flex-wrap: wrap !important;
        width: 100% !important;
    }
}



body {
    background: url("../Imagenes/backgroundPage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#FijarNav {
    position: fixed !important;
    left: 0;
    top: 0;
}

.FormularioIngresoDatos {
    padding-top: 10rem;
}

.Principal {
    width: 900px;
    margin: auto;
    text-align: center;
}

nav {
    display: block;
    margin: 0 auto 30px;
    border: 1px solid #222;
    position: relative;
    background-color: #666666;
    font: 16px Tahoma, Sans-serif;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    position: relative;
    float: left;
    list-style-type: none;
}

nav ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

nav li a {
    display: block;
    padding: 20px 20px;
    border-left: 1px solid #999;
    border-right: 1px solid #222;
    color: #eee;
    text-decoration: none;
}

nav li a :focus {
    outline: none;
    text-decoration: underline;
}

nav li:first-child a {
    border-left: none;
}

nav li.last a {
    border-right: none;
}

nav a span {
    display: block;
    float: right;
    margin-left: 5px;
}

nav ul ul {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    background: #6a6a6a;
}

nav ul ul li {
    float: none;
}

nav ul ul a {
    padding: 5px 10px;
    border-left: none;
    border-right: none;
    font-size: 14px;
}

nav ul ul a:hover {
    background-color: #555;
}

section {
    float: left;
    width: 70px;
}

aside {
    float: left;
}

.block {
    display: inline-block;
}

.footer-page {
    clear: both;
}

h1 {
    font-family: TitleFont, 'Comic MS Sans';
    font-weight: 800;
    font-size: 80px;
}

.textCordoba {
    text-shadow: 3px 3px 3px blue;
}


.LogoTipoImpresion3D {
    margin: auto;
    /*background: -webkit-radial-gradient(center, circle, black, green 90%)*/
    background: -webkit-linear-gradient(top, grey 30%, darkgrey 70%);
    /*Esto es para dibujar la linea*/
    /*outline: 2px dashed blue;
    outline-offset: 15px;*/
    /*Transformaciones*/
    /*-webkit-transform: scale(-1); Esto es para darlo vuelta*/
    /*-webkit-transform: scale(-1, 1);  Aqui da vuelta horizontal y vertical*/
    /*-webkit-transform: rotate(20deg);*/
    /*-webkit-transform: skew(10deg); *//*Lo pone mas en perspectiva*/
    /*-webkit-transform: translate(100px, 100px);*/ /*Esto es para trasladar que se mueva abajo*/
    /*
        Podes aplicar todas las transformaciones en un solo paso
    */

    /*Para hacer una transicion al OUTLINE*/
    -webkit-transition: outline 2s ease-out 0.2s;
}

.LogoTipoImpresion3D:hover {
    -webkit-transform: scale(1.1);
}

.navegatorText:hover {
    -webkit-transform: scale(1.2);
}


.FormularioIngresoDatos {
    float: left;
    width: 50%;
    height: auto;
}

.Maps {
    float: right;
    width: 50%;
    height: auto;
}

.finalRedesSociales {
    width: 100%;
    
}

/*
    Veamos uma imagen con recuadro

    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('../images/');
    position: relative;
    box-shadow: 0px 4px 4px #181818;
    margin-bottom: 25px;
*/




/*
   a[name^="p"] {
    Esto es empieza
  }

  a[name*="p"] {
    Esto es contiene
  }

  a[name$="3"] {
    Esto es termina
  }

  //Averiguar para que era el :nth-child()
  section li:nth-child(odd) {
      background-color: black;
  }

  //Otro tipo de Selector es el siguiente:
  div > p {

  }

  p.classp+span {

  }


  //Aqui aplica una familia de fuentes, si no encuentra una le da prioridad a la otra, y si no la encuentra
  //a la otra y asi sucesivamente
  p:first-child  {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
      Geneva, 'Verdana', sans-serif;
  }
*/
